:root {
  /* ---------- Colors ---------- */

  --very-light-pink: #c7c7c7;
  --hospital-green: #acd9b2;
  --text-input-field: #f7f7f7;
  --dark: #232830;
  --black: #000000;
  --white: #ffffff;

  /* ---------- Fonts ---------- */

  --font-basic: 'Quicksand', sans-serif;
  --font-sm: 1.4rem;
  --font-md: 1.6rem;
  --font-lg: 1.8rem;
}
